body {
  background: #ADC4D6;
}

a {
  color: #DA4B00;
  text-decoration: none;
}

a:hover {
  color: #DA4B00;
  background: #E8F1F8;
}

h1 {
  font-family: serif;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: monospace;
}

.indent {
  margin-left: 10px;
}

.gap_below {
  margin-bottom: 25px;
}
